<html>
  <head>
    <title>Track a MatchMe Campaign's Progress</title>
		<script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <script type="text/javascript" src="initializeParse.js"></script>
    <script type="text/javascript" src="displayCharities.js"></script>
    <script type="text/javascript" src="utilities.js"></script>
    <script type="text/javascript">
      function campaignNotFound() {
        alert('Campaign was not found, but feel free to start your own campagin!');
        window.location.replace('http://matchme.parseapp.com');
      }

      function setTimeRemaining(createdTime) {
      	var now = (new Date()).getTime();
      	document.getElementById('timeRemaining').innerHTML = makeTimeString(createdTime + 1000*60*60*24*2 - now);
      }

    	var Campaign = Parse.Object.extend("Campaign");
      var query = new Parse.Query(Campaign);
      var campaignId = '<%= campaignId %>';
      query.equalTo("campaignId", campaignId);
      query.first({
        success: function(object) {
        	if (object == null) {
            campaignNotFound();
          } else {
            var createdTime = (new Date(object.createdAt)).getTime();
            var now = (new Date()).getTime();
            if (createdTime < now - (1000*60*60*24*2)) {
            	document.getElementById('timeRemaining').innerHTML = '00:00:00';
              alert('This campaign has expired, but feel free to start your own campagin!');
            } else {
            	window.setInterval(function(){setTimeRemaining(createdTime)}, 1000);
            }
	        	var Charity = Parse.Object.extend("Charity");
	          query = new Parse.Query(Charity);
	          query.equalTo("charityId", object.get('charityId'));
	          query.first({
	            success: function(object) {
	              charity = {charityName:object.get('name'), id:object.get('charityId'), description:object.get('description')};

	              displayCharity(charity, document.getElementById('charityList'), 'href_close', 'div_description');
	            },
	            error: function(error) {
	              alert("Error: " + error.code + " " + error.message);
	            }
	          });

	        	var pledged = parseFloat(object.get("amount"));
	      		var donated = 0.00;
	        	var Contribution = Parse.Object.extend("Contribution");
	        	query = new Parse.Query(Contribution);
	          query.equalTo("campaignId", campaignId);
	          query.find({
	            success: function(results) {
	            	for (var i = 0; i < results.length; i++) {
	            		donated = donated + parseFloat(results[i].get('amount'));
	          		}

	          		var percent = roundToTwoDecimalsDefault('' + 100*donated/pledged);
	          		document.getElementById('percentOfPledged').style.width = Math.min(percent, 100) + "%";
	          		document.getElementById('pledgedSpan').innerHTML = roundToTwoDecimalsDefault('' + pledged);
	          		document.getElementById('donatedSpan').innerHTML = roundToTwoDecimalsDefault('' + donated) + " (" + percent + "%)";
								document.getElementById('totalSpan').innerHTML = roundToTwoDecimalsDefault('' + donated + Math.min(donated, pledged));
	            },
	            error: function(error) {
	              alert("Error: " + error.code + " " + error.message);
	            }
	          });
		      }
        },
        error: function(error) {
          campaignNotFound();
        }
      });
    </script>
    <div class="form">
    <div id='charityList'>
      </div>
	    <div class="meter">
	    	<span style="width: 0%" id="percentOfPledged"></span>
			</div>
			<br>
			Amount pledged: $<span id="pledgedSpan" style=""></span><br>
			Amount donated: $<span id="donatedSpan"></span><br>
			Total:          $<span id="totalSpan"></span>
			<br>
			Time remaining: <span id='timeRemaining'></span>
		</div>
  </body>
</html>