<html>
  <head>
    <title>Match Me</title>
    <script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <script type="text/javascript" src="initializeParse.js"></script>
    <script type="text/javascript">

      function campaignNotFound(campaignID) {
        alert('Campaign with ID ' + campaignID + ' was not found, but feel free to start your own campaign!');
        document.getElementById("contributeCampaignIdTextField").value = '';
      }

      function startCampaign() {
        window.location = "/startCampaign"
      }
        
      function contribute() {
        var campaignId = document.getElementById("contributeCampaignIdTextField").value;
        var Campaign = Parse.Object.extend("Campaign");
        var query = new Parse.Query(Campaign);
        query.equalTo("campaignId", campaignId);
        query.first({
          success: function(object) {
            if (object == null) {
              campaignNotFound(campaignId);
            } else {
              window.location = "/contribute?campaignId=" + campaignId;
            }
          },
          error: function(error) {
            campaignNotFound(campaignId);
          }
        });
      }

      function checkProgress() {
        var campaignId = document.getElementById("progressCampaignIdTextField").value;
        var Campaign = Parse.Object.extend("Campaign");
        var query = new Parse.Query(Campaign);
        query.equalTo("campaignId", campaignId);
        query.first({
          success: function(object) {
            if (object == null) {
              campaignNotFound(campaignId);
            } else {
              window.location = "/campaignProgress?campaignId=" + campaignId;
            }
          },
          error: function(error) {
            campaignNotFound(campaignId);
          }
        });
      }
    </script>
    <div class="form">
      <input id="startCampaignButton" type="button" value="Start a MatchMe campaign" onclick="startCampaign()"/>
      <br>
      <br>
      <form id="contributeForm"> 
        <input id="contributeButton" type="button" value="Contribute to this campaign:" onclick="contribute()"/>
        <input id="contributeCampaignIdTextField" type="text" /> 
      </form>
      <form id="progressForm">
        <input id="checkProgressButton" type="button" value="Check the progress of this campaign:" onclick="checkProgress()"/>
        <input id="progressCampaignIdTextField" type="text" />  
      </form>
    </div>
</html>
